
<h2 class="title text-center">VISION</h2>
<p>Nuestra vision es ser una empresa lider a nivel Regional
   en la comercializacion de cuy de raza mejoradas como son
   la linea inti, peruana y andina.
   Con la ayuda de la tienda virtual llegar al mercado nacional</p>
<h2 class="title text-center">MISION</h2>
<p>Nuestra Mision es brindar los cuys de la mejor calidad, de 
    buen peso a menor costo, a su domicilio en el menor tiempo  </p>

